/* GRID STRUCTURE */

body {
  display: grid;
  grid-template-areas:
    "header  header  header"
    "sidenav content ads"
    "footer  footer  footer";
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.ads {
  grid-area: ads;
}

.footer {
  grid-area: footer;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  body {
    grid-template-areas:
      "header  header  header"
      "sidenav content content"
      "sidenav ads     ads"
      "footer  footer  footer";
  }
}

@media only screen and (max-width: 760px) {
  body {
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "ads"
      "footer";
    grid-template-columns: 100%;
  }
}
