/* FONT IMPORT */
/* font-family: 'Vollkorn', Georgia, serif; */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

/* RESET */
a {
  color: inherit;
  display: block;
  text-decoration: none;
}

img {
  border-radius: 5px;
  display: block;
  max-width: 100%;
  width: 100%;
}

/* STYLE */
body {
  font-family: 'Vollkorn', Georgia, serif;
}

/* HEADER */
.header {
  align-items: center;
  background: linear-gradient(135deg, #84E, #B07DFB);
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 30px;
}

.header .logo {
  max-width: 200px;
}

.header-nav {
  justify-self: end;
}
.header-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header-nav ul li:not(:first-child) {
  margin-left: 30px;
}
.header-nav a {
  background-color: rgba(0,0,0,.2);
  border-radius: 5px;
  color: #FFF;
  display: block;
  font-size: 1.125rem;
  padding: 10px;
  transition: background-color 0.2s linear;
}
.header-nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* SIDENAV */
.sidenav {
  background-color: #FAFBFC;
  padding: 30px;
}

.sidenav li a {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.15);
  margin: 0 auto 30px auto;
  max-width: 100px;
  min-width: 60px;
  padding: 20px;
  transition: 0.1s background-color ease-out;
}
.sidenav li a:hover {
  background-color: #B07DFB;
}

/* CONTENT */
/* SEE CONTENT.CSS */

/* ADS */
.ads {
  align-content: start;
  background-color: #FAFBFC;
  display: grid;
  gap: 30px;
  padding: 30px;
}

/* FOOTER */
.footer {
  background: linear-gradient(135deg, #84E, #B07DFB);
}
.footer p {
  color: #FFF;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 30px;
  text-align: center;
}

.content .info p + p {
  margin-top: 30px;
}